# dependenies
node_modules/

# media
tempMedia/**/*.png
tempMedia/**/*.jpeg
tempMedia/**/*.jpg
tempMedia/**/*.mp4
tempMedia/**/*.mov

# env file
.env

# keys files
novelty-service-account-key.json
AuthKey_S5MUW3248M.p8